.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(75px, 150px));
  /*   grid-auto-rows: minmax(auto, 100px); */
  grid-auto-rows: 75px;
  grid-gap: 3px;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.calendar-header {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #d3d3d3;
  color: black;
}

.calendar-header,
.day-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.day-name {
  background-color: khaki;
  color: black;
}

.date {
  border: 1px solid #ffa94d;
  background-color: #ffd8a8;
  color: #d9480f;
  transition: 0.2s;
  /* overflow: scroll; */
  overflow-x: auto;
  overflow-y: auto;
}

/* width */
.date::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.date::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.date::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.date::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.date:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.date-number {
  background-color: white;
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
}

.cell-note {
  background-color: red;
  width: max-content;
  color: white;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2px;
  margin: 2px 2px 2px 15px;
}

.manage-events-container {
  position: relative;
  min-width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
}

.manage-events-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: teal;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.error-msg {
  color: #d9480f;
}

.manage-events-form {
  background: #f2f2f2;
  width: 70%;
  padding: 3rem;
  text-align: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

.form-group {
  /* padding: 1rem; */
}

.form-group input {
  outline: 0;
  background-color: #d3d3d3;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  font-size: 14px;
}

.add-event-btn {
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 70%;
  border: 0;
  padding: 1rem;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.add-event-btn:hover {
  background-color: #43a047;
}

.manage-events-list {
  margin: 2rem;
  width: 70%;
}

.event {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #ffd8a8;
  overflow: hidden;
  cursor: pointer;
}
