.wrapper {
  display: grid;
  grid-template-columns: repeat(7, minmax(75px, 150px));
  /*   grid-auto-rows: minmax(auto, 100px); */
  grid-auto-rows: 75px;
  grid-gap: 3px;
}
/* * {box-sizing: border-box;}

.wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
} */

.wrapper > div {
  border: 1px solid #ffa94d;
  background-color: #ffd8a8;
  color: #d9480f;
  transition: 0.2s;
}

.wrapper > div:hover {
  transform: scale(1.05);
}

.header {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}
